<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <sectionGroup name="lnf">
      <section name="provider" type="LNF.Impl.Configuration, LNF.Impl" />
    </sectionGroup>
  </configSections>

  <lnf>
    <provider production="false">
      <context loginUrl="/login" />
      <dataAccess showSql="true" />
      <email host="xxxxx" port="xxxxx" log="true" />
      <control host="xxxxx" />
      <log name="sselResReports" enabled="true" />
    </provider>
  </lnf>

  <appSettings>
    <add key="SecurePath" value="xxxxx" />
    <add key="ApiBaseUrl" value="xxxxx" />
    <add key="BasicAuthUsername" value="xxxxx" />
    <add key="BasicAuthPassword" value="xxxxx" />
    <add key="ShowMenu" value="false" />
    <add key="MongoConnectionString" value="xxxxx" />
    <add key="owin:AutomaticAppStartup" value="false" />
  </appSettings>

  <connectionStrings>
    <add name="cnSselData" providerName="System.Data.SqlClient" connectionString="xxxxx" />
    <add name="cnSselControl" providerName="System.Data.SqlClient" connectionString="xxxxx" />
    <add name="cnSselScheduler" providerName="System.Data.SqlClient" connectionString="xxxxx" />
    <add name="cnProwatch" providerName="System.Data.SqlClient" connectionString="xxxxx" />
  </connectionStrings>

  <system.web>
    <httpRuntime targetFramework="4.6.1"/>
    <compilation debug="true" targetFramework="4.6.1"/>

    <pages controlRenderingCompatibilityVersion="4.0">
      <controls>
        <add tagPrefix="lnf" assembly="LNF.Web" namespace="LNF.Web.Controls"/>
      </controls>
    </pages>

    <authentication mode="Forms">
      <forms name="sselAuth.cookie" path="/" loginUrl="/login" timeout="480" protection="All" slidingExpiration="true" cookieless="UseCookies" domain="xxxxx"/>
    </authentication>

    <authorization>
      <deny users="?"/>
    </authorization>

    <machineKey compatibilityMode="Framework20SP2" validationKey="xxxxx" decryptionKey="xxxxx" validation="SHA1" decryption="3DES"/>

    <customErrors mode="Off"/>
  </system.web>

  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit"/>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit"/>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0"/>
    </handlers>
  </system.webServer>

  <location path="RSS.ashx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>

  <location path="rss">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
</configuration>
